<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
You have already sent us proof of who you are
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{#
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}
#}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>You have already sent us proof of who you are</h1>

        <p>
          We are currently checking some details you have already sent us to verify your identity. 
        </p>
        <p>
          We will email you to let you know if they pass our checks. It may take up to <strong>24 hours</strong> for us to email you.
        </p>

        <p>Reference: <b>CID1100X</b></p>


    </div>  
  </div>
    </div>
  </div>  
{% endblock %}
