{% extends 'layout.html' %}

{% block pageTitle %}
  These are my details but some are wrong
{% endblock %}

{% block outerContent %}

{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
     
      <form method="post" action="/nhslogin/P5/stages-match-record">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">
            <h1 class="nhsuk-heading-l">
              These are my details but some are wrong
            </h1>
          </legend>
         
          <div class="nnhsuk-table-container">
            <table class="nhsuk-table">
            <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-summary-list__key">
                Name
              </td>
              <td class="nhsuk-summary-list__value">
                {{ data['firstName'] or 'Alex' }} {{ data['middleName'] }} {{ data['lastName'] or 'Taylor' }}
              </td>
          
            </tr>
          
            <tr class="nhsuk-table__row">
              <td class="nhsuk-summary-list__key">
                Date of birth
              </td>
              <td class="nhsuk-summary-list__value">
                {{ data['DoBDay'] or '10' }} {{ data['DoBMonth'] or 'June' }} {{ data['DoBYear'] or '1986' }}
              </td>
          
            </tr>

            <tr class="nhsuk-table__row">
              <td class="nhsuk-summary-list__key">
                NHS number
              </td>
              <td class="nhsuk-summary-list__value">
                {{ data['enterNHSNumber'] or '*** *** 3456' }}
              </td>
          
            </tr>
          
          </tbody>
          </table>
          </div>
          <p class="nhsuk-body">
            If your name is wrong, you should contact your GP surgery to update your details. They will also update these details on your NHS record.
          </p>
          <p class="nhsuk-body">
            If all of these details are wrong, <a>contact us and let us know</a>.
          </p>

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>Reference: <strong>CID1005</strong></p>
          </div>
          
          <p class="nhsuk-body">
            You can select <em>Continue</em> and prove who you are, but you may not be approved if some of the details shown here are wrong.
          </p>

          <button class="nhsuk-button full-width nhsuk-u-margin-top-4" type="submit">
            Continue
          </button>
          

        </fieldset>
      </form>
        
          
 

      {% if data['devMode'] %}
      {% include "includes/devmode-enter-email.html" %}
      {% endif %}

    </div>
  </div>


{% endblock %}
