<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
There is already an NHS login account linked to this NHS number
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{#
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}
#}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>There is already an NHS login account linked to this NHS number</h1>  

            <p>
              An account was set up using this NHS number, with a different email address.
            </p>

            <!-- Wales content

            <p>
              <a href="https://app.nhs.wales/login">Go back to the NHS Wales App</a> and use the email address you entered to set up your NHS login.
            </p>

            -->

            <p>
              To use the website or app you were trying to access, use the email address you entered to set up your NHS login.
            </p>

            <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p>
                If you cannot remember creating an NHS login account, <a href="https://prototype-nhs-login-help-87153c4cb7ee.herokuapp.com/">visit the NHS login help centre for further help</a>.
              </p>
            </div>
            

            {% if data.alreadyUser === 'multiple' %} <!-- Multiple accounts with the same NHS No -->

            <p>Reference: <b>CID11012</b></p>

            {% elif data.alreadyUser === 'one' %} <!-- 1 account that exists with the same NHS No -->

            <p>Reference: <b>CID11006</b></p>

            {% endif %}


    </div>  
  </div>
    </div>
  </div>  
{% endblock %}
