{% extends 'layout.html' %}
{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Create a password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<!-- ERROR SUMMARY OPEN -->

<div id="errorSummary" style="display: none;" class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
  <h2 class="nhsuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="nhsuk-error-summary__body">
    <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
      <li>
        <a id="summaryErrorMessageContent" href="#createPassword">Enter your password</a>
      </li>
      <li>
        <a id="summaryErrorMessageContent2" href="#confirmPassword">Enter your password</a>
      </li>
    </ul>
  </div>
</div>

<!-- ERROR SUMMARY CLOSE -->

      <h1 class="nhsuk-heading-l">
        Create a password
      </h1>

      <!-- input 1: create password -->
      <div id="formGroup">
        <label class="nhsuk-label" for="createPassword">
              Create a password
        </label>
        <div class="nhsuk-hint">
          <p class="nhsuk-body">Your password must have:
            <ul>
              <li>have 8 characters or more</li>
              <li>have 1 UPPERCASE letter or more</li>
              <li>not start or end with a blank space</li>
            </ul>
          </p>
        </div>
        <!-- ERROR MESSAGE SPAN OPEN: FOR INLINE VALIDATION -->
        <span id="errorMessageContainer" class="nhsuk-error-message" style="display: none;" id="createPassword-error">
          <span class="nhsuk-u-visually-hidden">Error:</span> <span id="errorMessageContent">Enter a password</span>
        </span>
        <!-- ERROR MESSSAGE SPAN CLOSE: FOR INLINE VALIDATION -->
          <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20" data-toggle-password-field id="createPassword" name="createPassword" type="password" aria-describedby="create password">
            <div style="display: inline; position: relative;">
              <button type="button" aria-pressed="false" class="button-link form__toggle-password" data-toggle-password style="border: none; position: absolute; right: 10px; top: -5px;">
                <span class="nhsuk-body-s" style="margin-bottom: 0px;"><b>Show</b></span>
              </button>
            </div>
      </div>
          
      <!-- input 2: confirm password -->
      <div id="formGroup2">
        <label class="nhsuk-label nhsuk-u-margin-top-3" for="confirmPassword">
            Confirm password
          </label>
          <!-- ERROR MESSAGE SPAN OPEN: FOR INLINE VALIDATION -->
          <span id="errorMessageContainer2" class="nhsuk-error-message" style="display: none;">
            <span class="nhsuk-u-visually-hidden">Error:</span> <span id="errorMessageContent2">Enter a password</span>
          </span>
          <!-- ERROR MESSSAGE SPAN CLOSE: FOR INLINE VALIDATION -->
        <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20" data-toggle-password-field-confirm id="confirmPassword" name="confirmPassword" type="password" aria-describedby="confirm password">
        <div style="display: inline; position: relative;">
          <div style="display: inline; position: relative;">
            <button type="button" aria-pressed="false" data-toggle-password-confirm class="button-link form__toggle-password" style="border: none; position: absolute; right: 10px; top: -5px;">
              <span id="text-toggle" class="nhsuk-body-s" style="margin-bottom: 0px;"><b>Show</b></span>
            </button>
          </div>
        </div>
      </div>

      <h2 style="font-size:20px; margin:1.5em 0 0;line-height: 20px" class="nhsuk-heading-m">Agree to our terms of use​</h2>
      <p class="small nhsuk-body" style="margin-top: 16px;">We will collect and save your information securely. We will not share your personal information without your consent.</p>
      <p class="small nhsuk-body">By continuing you confirm that you agree to our <a href="/legal/privacy">privacy notice</a> and <a href="/legal/terms">terms and conditions.</a></p>    
      
      <button data-redirect="spinner-confirm" class="nhsuk-button full-width" id="button--save" >Continue</button>
     
     
     <!-- DEPRECIATED CODE FOR NOTIFY EMAILS -->
      <!-- {# <form action="{{ thisPage }}" method="post"> #}

{#         <input id="email" name="emailAddress" value="cid.testuser1@gmail.com" type="hidden"> 
        <input type="hidden" class="nhsuk-input nhsuk-u-width-three-quarters" id="UserFirstName" name="UserFirstName" value="{{ data['UserFirstName'] }}" type="text">
        <input type="hidden" class="nhsuk-input nhsuk-u-width-three-quarters" id="UserLastName" name="UserLastName" value="{{ data['UserLastName'] }}" type="text">
 #}

        {# <button class="nhsuk-button full-width" >Continue</button> #}

                <a href="spinner-confirm" class="nhsuk-button">Continue</a>

{#       </form> #}
      
{#      id="button--save"  #}
          </div>
        </div>   -->


<script>
  // THIS SCRIPT IS FOR THE INLINE ERROR VALIDATION AND BUTTON SPINNER
  document.querySelector("#button--save").addEventListener("click",function(e) { 
    var isValid = inlineValidation();

    if(!isValid) {
      e.preventDefault();
    }
    else {
      submitSpin();
    }
  })

  // create password

  function showErrorSummary(errorMessage) {
    var errorSummary = document.querySelector("#errorSummary").style.display = "block";
    if(errorMessage) {
      var summaryErrorMessageContent = document.querySelector("#summaryErrorMessageContent").textContent = errorMessage;
      document.querySelector("#summaryErrorMessageContent").style.display = "block";
    }
    else {
      var summaryErrorMessageContent = document.querySelector("#summaryErrorMessageContent").textContent = "default error message";
      
    }
  }

  function showErrorSummary2(errorMessage) {
    var errorSummary = document.querySelector("#errorSummary").style.display = "block";
    if(errorMessage) {
      var summaryErrorMessageContent2 = document.querySelector("#summaryErrorMessageContent2").textContent = errorMessage;
      document.querySelector("#summaryErrorMessageContent2").style.display = "block";
    }
    else {
      var summaryErrorMessageContent2 = document.querySelector("#summaryErrorMessageContent2").textContent = "default error message";
    }
  }

  function hideErrorSummaryContainer() {
    var errorSummary = document.querySelector("#errorSummary").style.display = "none";
  }

  function hideErrorSummary() {
    var errorSummary = document.querySelector("#errorSummary").style.display = "none";
    document.querySelector("#summaryErrorMessageContent").style.display = "none";
  }

  function hideErrorSummary2() {
    var errorSummary = document.querySelector("#errorSummary").style.display = "none";
    document.querySelector("#summaryErrorMessageContent2").style.display = "none";
  }

  function showInputError(errorMessage) {
    // vars for input 1: create pass
    var formGroup = document.querySelector("#formGroup").classList.add("nhsuk-form-group--error");
    var errorMessageContainer = document.querySelector("#errorMessageContainer").style.display = "block";
    var inputError = document.querySelector("#createPassword").classList.add("nhsuk-input--error");
    

    if(errorMessage) {
      // vars for input 1: create pass
      var errorMessageContent = document.querySelector("#errorMessageContent").textContent = errorMessage;
    }

    else {
      // vars for input 1: create pass
      var errorMessageContent = document.querySelector("#errorMessageContent").textContent = "default error message";
    }
  }

  function showInputError2(errorMessage) {
    // vars for input 2: confirm pass
    var formGroup2 = document.querySelector("#formGroup2").classList.add("nhsuk-form-group--error");
    var errorMessageContainer2 = document.querySelector("#errorMessageContainer2").style.display = "block";
    var inputError2 = document.querySelector("#confirmPassword").classList.add("nhsuk-input--error");

    if(errorMessage) {
      // vars for input 2: confirm pass
      var errorMessageContent2 = document.querySelector("#errorMessageContent2").textContent = errorMessage;
    }

    else {
      // vars for input 2: confirm pass
      var errorMessageContent2 = document.querySelector("#errorMessageContent2").textContent = "default error message";
    }
  }

  function hideInputError() {
    // vars for input 1: create pass
    var formGroup = document.querySelector("#formGroup").classList.remove("nhsuk-form-group--error");
    var errorMessageContainer = document.querySelector("#errorMessageContainer").style.display = "none";
    var inputError = document.querySelector("#createPassword").classList.remove("nhsuk-input--error");
  }

  function hideInputError2() {
    // vars for input 2: confirm pass 
    var formGroup2 = document.querySelector("#formGroup2").classList.remove("nhsuk-form-group--error");
    var errorMessageContainer2 = document.querySelector("#errorMessageContainer2").style.display = "none";
    var inputError = document.querySelector("#confirmPassword").classList.remove("nhsuk-input--error");
  }

  function inlineValidation() {
    hideInputError();
    hideInputError2();
    hideErrorSummaryContainer();
    hideErrorSummary();
    hideErrorSummary2();

    var inputValue = document.querySelector("#createPassword").value;
    var inputValue2 = document.querySelector("#confirmPassword").value;

    if(inputValue.length === 0 && inputValue2.length === 0) {
      showErrorSummary("You need to enter a password");
      showInputError("You need to enter a password");
      showErrorSummary2("Enter your password again to confirm it");
      showInputError2("Enter your password again to confirm it");
      return false;
    }

    if(inputValue.length === 0 && inputValue2.length > 0) {
      showErrorSummary("You need to enter a password");
      showInputError("You need to enter a password");
      showErrorSummary2("Enter your password again to confirm it");
      showInputError2("Enter your password again to confirm it");
      return false;   
    }

    if(inputValue.length < 8 && inputValue.length > 0) {
      showErrorSummary("Enter the password in the correct format");
      showInputError("Enter the password in the correct format");
      showErrorSummary2("Enter your password again to confirm it");
      showInputError2("Enter your password again to confirm it");
      return false;
    }

    if(inputValue.length === 8 && inputValue.length > 0 && inputValue2.length === 0 ) {
      showErrorSummary2("Enter your password again to confirm it");
      showInputError2("Enter your password again to confirm it");
      return false;
    }

    if(inputValue.length === 8 && inputValue.length > 0 && inputValue2.length > 0 && inputValue2.length < 8) {
      showErrorSummary2("Enter your password again to confirm it and make sure they match");
      showInputError2("Enter your password again to confirm it and make sure they match");
      return false;
    }

    if(inputValue.length < 8 && inputValue.length > 0 && inputValue2.length > 0 && inputValue2.length < 8 && inputValue === inputValue2) {
      showErrorSummary("Enter the password in the correct format");
      showInputError("Enter the password in the correct format");
      showErrorSummary2("Enter your password again to confirm it");
      showInputError2("Enter your password again to confirm it");
      return false;  
    }
    
    return true;
  }

  // button spinner code

  function submitSpin() {
    var button = document.querySelector("#button--save")
    button.setAttribute('disabled', 'disabled')
    button.className += ' button--save'
    setTimeout(function () {
      window.location.href = button.dataset.redirect;
    }, 2000)
  }

</script>
        

{% endblock %}