{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
Email: You now have an NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <p>
        Subject: You have set up an NHS login
      </p>

      <hr>

      <h1 class="nhsuk-fieldset__legend--l">
        You have set up an NHS login
      </h1>
                  
      <p>
        You have passed our checks and can now use your NHS login to access the NHS Wales App: <a href="https://app.nhs.wales/login">https://app.nhs.wales/login</a>
      </p>

      <!--<p>
        You can also use the service your GP has recommended and other digital health and care services.
      </p>-->

      <p>
        This includes:
      </p>

      <p class="nhsuk-body">
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>
            health and wellbeing services
          </li>
          <li>
            maternity and child health services
          </li>
          <li>
            online pharmacies
          </li>     
        </ul>
      </p>
      <p>
        To find out more about the where you can use your NHS login, visit: <a class="https://www.nhs.uk/nhs-services/online-services/nhs-login/websites-and-apps-you-can-access-with-nhs-login/">https://www.nhs.uk/nhs-services/online-services/nhs-login/websites-and-apps-you-can-access-with-nhs-login/</a>
      </p>

      <h2 class="nhsuk-heading-m">Help with NHS login</h2>
      <p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>
            To change your NHS login details and password or delete your NHS login if you no longer want to use it, visit: <a href="https://settings.login.nhs.uk/">https://settings.login.nhs.uk/</a>
          </li>
          <li>
            If you have technical issues, visit the NHS login help centre: <a href="https://help.login.nhs.uk/">https://help.login.nhs.uk/</a>
          </li>
        </ul>
      </p>
      
      <div class="nhsuk-hint" id="example-with-hint-text-hint">Please do not reply to this email - this is an automated message</div>
      
    </div>
  </div>

{% endblock %}