{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
Account details reminder from NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">
        Account details reminder from NHS login
      </h1>

      <p class="nhsuk-body">
        Your GP asked us to remind you of the email address used to create your existing NHS login account.
      </p>

      <h2 class="nhsuk-heading-m">
        Don't remember your password?
      </h2>

      <p class="nhsuk-body">
        If you cannot remember your password you can <a href="https://prototype-nhs-login.herokuapp.com/nhslogin/login/check-your-email">reset it</a>.
      </p>

      <h2 class="nhsuk-heading-m">
        I do not have access to an old mobile number
      </h2>

      <p class="nhsuk-body">
        If you do not have access to your mobile phone, <a href="https://prototype-nhs-login.herokuapp.com/nhslogin/login/login-enter-OTP#">you can change your mobile phone securely</a>.
      </p>

      <p>Help with NHS login:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>
                To change your NHS login details and password or delete your NHS login if you no longer want to use it, visit: <a href="https://settings.login.nhs.uk/">https://settings.login.nhs.uk/</a>
              </li>
              <li>
                If you have technical issues, visit the NHS login help centre: <a href="https://help.login.nhs.uk/">https://help.login.nhs.uk/</a>
              </li>
            </ul>

      <!--<p class="nhsuk-body">This invitation will expire on 20 March 2023.</p>-->
      
      
        <div class="nhsuk-hint" id="example-with-hint-text-hint">Please do not reply to this email - this is an automated message</div>
    </div>
  </div>

{% endblock %}