{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
Finish settingt up your NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <p><h1 class="nhsuk-heading-l">
        Finish setting up your NHS login
      </h1>

      <p class="nhsuk-body">
        Your GP has connected you to your record and once you finish setting up yout account you should be able to access more features.
      </p>

      <h2 class="nhsuk-heading-m">
        To finish setting up your account
      </h2>

      <p class="nhsuk-body">
        We need to send a 6 digit security code to the mobile phone number you used to register with your GP.
      </p>

      <p class="nhsuk-body">This invitation will expire on 20 March 2023.</p>
      
      <a href="../existing-uplift/spinner" class="nhsuk-button">Finish setting up your NHS login</a>

      <p class="nhsuk-body">Help with NHS login:
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>
            To change your NHS login details and password or delete your NHS login if you no longer want to use it, visit: <a href="https://settings.login.nhs.uk/">https://settings.login.nhs.uk/</a>
          </li>
          <li>
            If you have technical issues, visit the NHS login help centre: <a href="https://help.login.nhs.uk/">https://help.login.nhs.uk/</a>
          </li>
        </ul>
      </p>
      
      <div class="nhsuk-hint" id="example-with-hint-text-hint">Please do not reply to this email - this is an automated message</div>

    </div>
  </div>

{% endblock %}