{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
Account details reminder from NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">
        Account details reminder from NHS login
      </h1>

      <p class="nhsuk-body">
        Dear {{ data.UserFirstName or 'Alex' }} {{ data.UserLastName or 'Taylor' }},
      </p>

      <p class="nhsuk-body">
        Your GP asked us to remind you of the email address used to create your NHS login account. 
      </p>
      <p>
        We have sent this email to the address you used to create your account. 
      </p>

      <h2 class="nhsuk-heading-m">Help with NHS login</h2>
      <p>
        To change your NHS login details and password or delete your NHS login if you no longer want to use it, visit: <a href="https://settings.login.nhs.uk/">https://settings.login.nhs.uk/</a>
      </p>
      <p>
        If you do not have access to the mobile phone you used to create your account, you can <a href="https://prototype-nhs-login.herokuapp.com/nhslogin/login/login-enter-OTP#">change the mobile phone number linked to it</a>. 
      </p>
      <p>
        If you have technical issues, visit the NHS login help centre: <a href="https://help.login.nhs.uk/">https://help.login.nhs.uk/</a>
      </p>

      <!--<p class="nhsuk-body">This invitation will expire on 20 March 2023.</p>-->
      
      
        <div class="nhsuk-hint" id="example-with-hint-text-hint">Please do not reply to this email - this is an automated message</div>
    </div>
  </div>

{% endblock %}