{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
  Invite to set up your NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2 class="nhsuk-heading-m">
        Subject: Invite to set up your NHS login
      </h2>
      
      <p class="nhsuk-body">
        Dear {{ data.UserFirstName or 'Alex' }} {{ data.UserLastName or 'Taylor' }},
      </p>
      
      <p class="nhsuk-body">
        Your GP has recommended that you set up an NHS login so you can access a health service or app.
      </p>

      <p class="nhsuk-body">This means you can do things like: 
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>
            view your GP health record 
          </li>
          <li>
            manage appointments 
          </li>
          <li>
            order repeat prescriptions 
          </li>
          <li>
            download your NHS Covid Pass for travel abroad 
          </li>          
        </ul>
      </p>

      <h2 class="nhsuk-heading-m">
        To set up your account
      </h2>

      <p class="nhsuk-body">
        We need to send a 6 digit security code to the mobile phone number you used to register with your GP.
      </p>

      <p class="nhsuk-body">You will also need to create a password.</p>

      <p class="nhsuk-body">This invitation will expire in <strong>7 days</strong>.</p>

      {% if data.error === 'trueNow' %} 

      <a href="../create-account/spinner-set-up?error=trueNow" target="_blank" class="nhsuk-button">Finish setting up your NHS login</a>
      <p><a href="../create-account/spinner-set-up?error=trueNow" target="_blank">https://access.login.nhs.uk/finish-set-up</a></p>

      {% else %}

      <a href="../existing-uplift/spinner-set-up" target="_blank" class="nhsuk-button">Finish setting up your NHS login</a>
      <p><a href="../existing-uplift/spinner-set-up" target="_blank">https://access.login.nhs.uk/finish-set-up</a></p>
      
      {% endif %}
      <div class="nhsuk-hint" id="example-with-hint-text-hint">Please do not reply to this email - this is an automated message</div>

    </div>
  </div>

{% endblock %}