{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
Reset your password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <p>
        Subject: Reset your password
      </p>

      <hr>

      <h2 class="nhsuk-heading-m">Reset your password</h2>
      <p class="nhsuk-body">
        You have 1 hour to use the reset your password link.
      </p>
      <p class="nhsuk-body">
      After that, go back to the website or app you were trying to access and reset your NHS login password again.
      </p>
      <p class="nhsuk-body">
      If you do not want to reset your password, ignore this email.
      </p>

      <a href="/discovery-2023/reset-password/reset-password" target="_blank" class="nhsuk-button">Reset your password</a>
      
      <p class="nhsuk-body">
        If nothing happens when you select the button, try this link instead. You might need to copy and paste it into an internet browser:
      </p>

      <p class="nhsuk-body"><a href="../create-account/spinner-set-up" target="_blank">https://provisioning.login.nhs.uk/reset/new-password?username=AQICAHgK2tUQqSaLCFLjukY1VezjWJcqInrTxnRJHFRi6A7USwEMRV_0WrjaSyMwNyNYFlvXAAAAeDB2BgkqhkiG9w0BBwagaTBnAgEAMGIGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMpyJjsY0nMDjserVnAgEQgDUl9jNOci7-4h5NDn86yFD-d4EvteK6lLkvSwP5xeQVdG0GiUKehPeLZS_ZQCAHbfBNU3SvlA==&code=235257&expiry=1690367062181
      </a></p>
      
      
      <!--<div class="nhsuk-hint" id="example-with-hint-text-hint">Please do not reply to this email - this is an automated message</div>-->
    </div>
  </div>

{% endblock %}