{% extends 'layout.html' %}

{% block pageTitle %}
You have reset your password for NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
          <legend class="nhsuk-fieldset__legend">
            <h1 class="nhsuk-heading-l">
              You have reset your password for NHS login
            </h1>
          </legend>
          <p class="nhsuk-body">To continue, try using the link in the email again.</p>

        
    </div>
  </div>

 
{% endblock %}
