<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Provisioning - Create account
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

{% if emailSent === 'true' %}

  {{ warningCallout({
    "heading": "Email has been sent",
    "HTML": "<p>Check the user's email inbox.</p>"
  }) }}
  
   <p><a href="/email/invite">click here to open it</a></p>

{% endif %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="email/invite" method="post">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              To start the prototype, enter the name of the user that's being invited!
            </h1>
          </legend>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="UserFirstName">
              User first name
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="UserFirstName" name="UserFirstName" value="{{ data['UserFirstName'] }}" type="text">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="UserLastName">
              User last name
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="UserLastName" name="UserLastName" value="{{ data['UserLastName'] }}" type="text">
          </div>
        <input id="email" name="emailAddress" value="lydia.teebay1@nhs.net" type="hidden">

        </fieldset>


        <button class="nhsuk-button">Start Prototype</button>
      </form>
    </div>  
  </div>
{% endblock %}
