{% extends 'layout.html' %}

{% block pageTitle %}
Confirm your details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form method="post">
    <!--<form method="post" action="spinner-confirm">-->

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">
            <h1 class="nhsuk-heading-l">
              Confirm your details
            </h1>
          </legend>
          <p class="nhsuk-body">
            We found this NHS record using the information your GP surgery gave us.
          </p>

          <div class="nnhsuk-table-container">
            <table class="nhsuk-table">
            <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-summary-list__key">
                Name
              </td>
              <td class="nhsuk-summary-list__value">
                {{ data['firstName'] or 'Alex' }} {{ data['middleName'] }} {{ data['lastName'] or 'Taylor' }}
              </td>
          
            </tr>
          
            <tr class="nhsuk-table__row">
              <td class="nhsuk-summary-list__key">
                Date of birth
              </td>
              <td class="nhsuk-summary-list__value">
                {{ data['DoBDay'] or '10' }} {{ data['DoBMonth'] or 'June' }} {{ data['DoBYear'] or '1986' }}
              </td>
          
            </tr>

            <tr class="nhsuk-table__row">
              <td class="nhsuk-summary-list__key">
                NHS number
              </td>
              <td class="nhsuk-summary-list__value">
                {{ data['enterNHSNumber'] or '••• ••• 3456' }}
              </td>
          
            </tr>
          
          </tbody>
          </table>
          </div>

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h2 class="nhsuk-heading-m">
                  Are these your details?
                </h2>
              </legend>
          
              <div class="nhsuk-radios">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="checkDetailsYes" name="checkDetails" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="checkDetailsYes">
                    Yes, these are my details
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="checkDetailsNo" name="checkDetails" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="checkDetailsNo">
                    No, these are not my details
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="checkDetailsSome" name="checkDetails" type="radio" value="some">
                  <label class="nhsuk-label nhsuk-radios__label" for="checkDetailsSome">
                    These are my details but some are wrong
                  </label>
                </div>

              </div>
            </fieldset>
          
          </div>
      
          <button class="nhsuk-button full-width nhsuk-u-margin-top-4" type="submit">
            Continue
          </button>
          

        </fieldset>
      </form>
  </div>
</div>


{% endblock %}