<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

{% block pageTitle %}
  Enter your password
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="confirm-my-details" autocomplete="on" method="post">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">
            <h1 class="nhsuk-heading-l">
              Enter your password
            </h1>
          </legend>
          <p class="nhsuk-body">Enter your password to log in.</p>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="createPassword">
              Password
            </label>
            <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20  nhsuk-u-margin-bottom-4" id="enterPassword" name="enterPassword" type="password" data-toggle-password-field-confirm>
            <div style="display: inline; position: relative;">
              <div style="display: inline; position: relative;">
                <button type="button" aria-pressed="false" data-toggle-password-confirm
                  class="button-link form__toggle-password" style="border: none; position: absolute; right: 10px; top: -5px;">
                  <span id="text-toggle" class="nhsuk-body-s" style="margin-bottom: 2px; margin-top: 2px; margin-left: 8px; margin-right: 8px;"><b>Show</b></span>
                </button>
              </div>
          </div>
          <p class="nhsuk-body">If you cannot remember your password you can <a href="/nhslogin/login/check-your-email">reset it</a>.</p>
        <div>

          {% if data.p5 === 'trueNow' %}

    
          <button data-redirect="confirm-my-details" class="nhsuk-button full-width" type="submit" id="button--save">

      
          {% else %}

          <button data-redirect="spinner-confirm" class="nhsuk-button full-width" type="submit" id="button--save">

          {% endif %}

          Continue
          </button>


        </div>
        </fieldset>
      </form>


    </div>
  </div>

  <script type="text/javascript">
    submitSpinner()
  
    function buttonClicked(target) {
      target.setAttribute('disabled', 'disabled')
      target.className += ' button--save'
      setTimeout(function () {
        window.location.href = target.dataset.redirect;
      }, 2000)
    }
  
    function submitSpinner() {
      var selects = document.getElementById('button--save')
      selects.addEventListener('click', function (event) {
        event.preventDefault()
        if (selects.getAttribute('disabled') === 'disabled') {
          console.log('already clicked')
        } else {
          event.preventDefault()
          console.log(selects.getAttribute('disabled'))
          buttonClicked(selects)
        }
      })
    }
  </script>
{% endblock %}
