<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

{% block pageTitle %}
  Enter your password
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
<!-- ERROR SUMMARY OPEN -->

<div id="errorSummary" style="display: none;" class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
  <h2 class="nhsuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="nhsuk-error-summary__body">
    <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
      <li>
        <a id="summaryErrorMessageContent" href="#enterPassword">Enter your password</a>
      </li>
    </ul>
  </div>
</div>

<!-- ERROR SUMMARY CLOSE -->

      <form action="confirm-my-details" autocomplete="on" method="post">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">
            <h1 class="nhsuk-heading-l">
              Enter your password
            </h1>
          </legend>
          <p class="nhsuk-body">
            This is the password you set up with your NHS login account.
          </p>
          
          <div class="nhsuk-form-group" id="formGroup">
            <label class="nhsuk-label" for="createPassword">
              Password
            </label>
            <!-- ERROR MESSAGE SPAN OPEN: FOR INLINE VALIDATION -->
            <span id="errorMessageContainer" class="nhsuk-error-message" style="display: none;" id="enterPassword-error">
              <span class="nhsuk-u-visually-hidden">Error:</span> <span id="errorMessageContent">Enter the security code</span>
            </span>
            <!-- ERROR MESSSAGE SPAN CLOSE: FOR INLINE VALIDATION -->
            <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20  nhsuk-u-margin-bottom-4" id="enterPassword" name="enterPassword" type="password" data-toggle-password-field-confirm>
            <div style="display: inline; position: relative;">
              <div style="display: inline; position: relative;">
                <button type="button" aria-pressed="false" data-toggle-password-confirm
                  class="button-link form__toggle-password" style="border: none; position: absolute; right: 10px; top: -5px;">
                  <span id="text-toggle" class="nhsuk-body-s" style="margin-bottom: 2px; margin-top: 2px; margin-left: 8px; margin-right: 8px;"><b>Show</b></span>
                </button>
              </div>
            </div>
          </div>

          <p class="nhsuk-body">You can <a href="/discovery-2023/reset-password/check-your-email">reset your password</a> if you cannot remember it.</p>
        <div>

            {% if data.p5 === 'trueNow' %}

      
            <button data-redirect="confirm-my-details" class="nhsuk-button full-width" type="submit" id="button--save">

        
            {% else %}

            <button data-redirect="spinner-confirm" class="nhsuk-button full-width" type="submit" id="button--save">

            {% endif %}

            Continue
            </button>


          </div>
        </fieldset>
      </form>


    </div>
  </div>

  <script>
    // THIS SCRIPT IS FOR THE INLINE ERROR VALIDATION AND BUTTON SPINNER
    document.querySelector("#button--save").addEventListener("click",function(e) { 
      var isValid = inlineValidation();
  
      if(!isValid) {
        e.preventDefault();
      }
      else {
        submitSpin();
      }
    })
  
    document.querySelector("#enterPassword").addEventListener("change",function(e) {
      inlineValidation();
    })
  
    function showErrorSummary(errorMessage) {
      var errorSummary = document.querySelector("#errorSummary").style.display = "block";
      if(errorMessage) {
        var summaryErrorMessageContent = document.querySelector("#summaryErrorMessageContent").textContent = errorMessage;
      }
      else {
        var summaryErrorMessageContent = document.querySelector("#summaryErrorMessageContent").textContent = "default error message";
      }
      
    }
  
    function hideErrorSummary() {
      var errorSummary = document.querySelector("#errorSummary").style.display = "none";
    }
  
    function showInputError(errorMessage) {
      var formGroup = document.querySelector("#formGroup").classList.add("nhsuk-form-group--error");
      var errorMessageContainer = document.querySelector("#errorMessageContainer").style.display = "block";
      var inputError = document.querySelector("#enterPassword").classList.add("nhsuk-input--error");
  
      if(errorMessage) {
        var errorMessageContent = document.querySelector("#errorMessageContent").textContent = errorMessage;
      }
  
      else {
        var errorMessageContent = document.querySelector("#errorMessageContent").textContent = "default error message";
      }
    }
  
    function hideInputError() {
      var formGroup = document.querySelector("#formGroup").classList.remove("nhsuk-form-group--error");
      var errorMessageContainer = document.querySelector("#errorMessageContainer").style.display = "none";
    }
  
    function inlineValidation() {
      var inputValue = document.querySelector("#enterPassword").value;
      
      if(inputValue.length === 0) {
        showErrorSummary("Enter your password");
        showInputError("Enter your password");
        return false;
      }
  
      if(inputValue !== "password") {
        showErrorSummary("Enter the correct password");
        showInputError("Enter the correct password");
        return false;
      }
  
      return true;
    }

    // button spinner code

    function submitSpin() {
      var button = document.querySelector("#button--save")
      button.setAttribute('disabled', 'disabled')
      button.className += ' button--save'
      setTimeout(function () {
        window.location.href = button.dataset.redirect;
      }, 2000)
    }

  </script>
  
{% endblock %}
