{% extends 'layout.html' %}

{% block pageTitle %}
You have set up an NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">




      <form action="password-set" method="post" class="form">
        <fieldset class="nhsuk-fieldset">
          
        
          <div class="service-access-wrapper">
            <ol class="service-access">

                <li class="service-access__item completed"> 
                  <h3 class="service-access__item__title ticked" style="font-size:18px">Your GP has confirmed your identity</h3>
                  <div class="service-access__item__desc">	
                  </div>	
                </li> 
                <li class="service-access__item completed"> 
                  <h3 class="service-access__item__title ticked" style="font-size:18px">Get a security code</h3>
                  <div class="service-access__item__desc">	
                  </div>	
                </li> 
                <li class="service-access__item completed"> 
                  <h3 class="service-access__item__title ticked" style="font-size:18px">Finish setting up your NHS login</h3>
                  <div class="service-access__item__desc">	
                  </div>	
                  </li> 

                <li class="service-access__item active">
                    <h3 class="service-access__item__title">You have set up an NHS login</h3>
                    <div class="service-access__item__desc">
                    
                    <p style="font-size:18px">
                      You have passed our checks and can access the <strong>{{ data['clientName'] or 'NHS App' }}</strong>.
                    </p>
                    <h2 class="nhsuk-heading-s">What happens next</h2>
                    <p style="font-size:18px">
                      We have sent you an email to confirm you have finished setting up your NHS login.
                    </p>
                    <p style="font-size:18px">
                      Make sure you download the NHS App if you haven't already.
                    </p>

                      <a href="https://www.nhsapp.service.nhs.uk/login" target="_blank" role="button" draggable="false" class="nhsuk-button">
                        Continue to NHS App
                      </a>

                    <h2 class="nhsuk-heading-s">Help with NHS login</h2>
                    <p>
                      <ul class="nhsuk-list nhsuk-list--bullet" style="font-size:18px">
                        <li>
                          <a href="https://www.nhs.uk/nhs-services/online-services/nhs-login/websites-and-apps-you-can-access-with-nhs-login/">Find out more about the services you can access with NHS login</a>
                        </li>
                        <li>
                          To change your NHS login details and password or delete your NHS login if you no longer want to use it, <a href="https://settings.login.nhs.uk/">visit settings</a>
                        </li>
                        <li>
                          If you have technical issues, <a href="https://help.login.nhs.uk/">visit the NHS login help centre</a>
                        </li>
                      </ul>
                    </p>
                    </div>
                </li>
            </ol>
          
          </div>
          
        </fieldset>   
      </form>
    </div>
  </div>


{% endblock %}

