{% extends 'layout.html' %}

{% block pageTitle %}
Next steps
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      {% if data.p0 === 'trueNow' %} 

      <form action="login-enter-password?p0=trueNow" method="post" class="form">
        <fieldset class="nhsuk-fieldset">

      {% endif %}
		
      {% if data.p5 === 'trueNow' %} 

      <form action="login-enter-password?p5=trueNow" method="post" class="form">
        <fieldset class="nhsuk-fieldset">

      {% endif %}
          
          <div class="service-access-wrapper">
            <ol class="service-access">

                <li class="service-access__item completed"> 
                  <h3 class="service-access__item__title ticked" style="font-size:18px">Your GP has confirmed your identity</h3>
                  <div class="service-access__item__desc">	
                  </div>	
                </li> 
                <li class="service-access__item completed"> 
                  <h3 class="service-access__item__title ticked" style="font-size:18px">Get a security code</h3>
                  <div class="service-access__item__desc">	
                  </div>	
                </li> 
              {% if data.p0 === 'trueNow' %} 

              <li class="service-access__item active">
                <p class="service-access__item__title__text__leftandright"><b>Next step</b></p>
                <h3 class="service-access__item__title">Finish setting up your NHS login</h3>
                <div class="service-access__item__desc">
                  <p>Enter a password to finish setting up.</p>
                </div>
                <form method="POST">
                  <button class="nhsuk-button full-width" style="display:block; margin-bottom:0;">Continue</button>
                </form>
              </li>
              
              {% endif %}
		
		          {% if data.p5 === 'trueNow' %} 
              
              <li class="service-access__item active">
                <p class="service-access__item__title__text__leftandright"><b>Next step</b></p>
                <h3 class="service-access__item__title">Finish setting up your NHS login</h3>
                <div class="service-access__item__desc">
                  <p>Confirm the details we have for you are correct and enter a password to finish setting up.</p>
                </div>
                <form method="POST">
                  <button class="nhsuk-button full-width" style="display:block; margin-bottom:0;">Continue</button>
                </form>
              </li>
              
              {% endif %}
            </ol>
          
          </div>
          
        </fieldset>   
      </form>
    </div>
  </div>


{% endblock %}

