<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS login prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border app-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper app-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-4">Welcome to the NHS login Provisioning prototype</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-1">Use this service to view the Provisioning journey and errors.</p>
            <br>
            <span class="nhsuk-body-s" style="font-size:12px;">Maintained by NHS login, <b>Heather Paxton</b> (interaction designer) and <b>Johnny Lorrimer</b> (content designer).</span>
            <!-- Prototype dedicated to the great Teebs -->

          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column">

<div class="nhsuk-width-container app-width-container">
      <ul class="nhsuk-grid-row nhsuk-card-group">

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <p>🔎</p>
              <!--<h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/research?research=true">Research hub</a></h2>-->
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="#">Research hub</a></h2>
              <p class="nhsuk-card__description">No context prototype links ready to be taken into research</p>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <p>🧑‍🎨</p>
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/index-in-r-d">In research and development</a></h2>
              <p class="nhsuk-card__description">Prototypes for discovery and research rounds</p>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <p>🎉</p>
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/live">In live</a></h2>
              <p class="nhsuk-card__description">View a prototype that matches the live NHS login service</p>
            </div>
          </div>
        </li>
        
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <p>🔗</p>
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/links">Useful links</a></h2>
              <p class="nhsuk-card__description">Links to relevant documentation, including other prototypes, live environments and overviews</p>
            </div>
          </div>
        </li>


  
    </div>


    </div>
  </div>

{% endblock %}
